* {
    margin: 0;
    padding: 0;
}
.map-responsive {
    overflow: hidden;
    padding-bottom: 50%;
    /* position: relative; */
    height: 0;
}
.map-responsive iframe {
    left: 0;
    top: 0;
    height: 80vh;
    width: 50vw;
}

.container-fluid {
    display: flex;
    justify-content: space-evenly;
}
.accept {
    cursor: pointer;
}
.card {
    margin-top: 50px;
    height: 300px;
    width: 70vw;
}
.accept {
    display: flex;
    justify-content: space-around;
    padding: 0;
    height: 20%;
}

.accept .acc {
    background-color: lightgreen;

    width: 50%;
    height: 101%;
    padding: 10px 30px 0 45px;
}
.accept .dec {
    background-color: lightcoral;
    width: 50%;
    padding: 10px 30px 0 45px;
}
.card .a {
    display: block;
}

.hideIt {
    display: none;
}


.cardheading{
    font-size: 30px;
    color: green;
    padding-bottom: 5px;
}